@model FilledProductViewModel
@using EzBuy.ViewModels.Products
@{
    ViewData["Title"] = Model.Name;
    var orderedImages = Model.Images.OrderByDescending(x => x.IsCover).ToList();
}


<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-md-push-2">
                <div id="product-main-img">
                    @foreach (var image in orderedImages)
                    {
                        <div class="product-preview">
                            <img src="@image.Url" alt="">
                        </div>
                    }
                </div>
            </div>
            <div class="col-md-2  col-md-pull-5">
                <div id="product-imgs">
                    @foreach (var image in orderedImages)
                    {
                        <div class="product-preview">
                            <img src="@image.Url" alt="">
                        </div>
                    }
                </div>
            </div>
            <div class="col-md-5">
                <div class="product-details">
                    <h2 class="product-name">@Model.Name</h2>
                    <div style="margin-bottom:1rem" >
                        <h3 class="product-price">@Model.Price <del class="product-old-price">@(Model.Price + 59.99m)</del></h3>
                        <span class="product-available">In Stock</span>
                    </div>

                    <div class="add-to-cart">
                        <div class="col-md-4"> 

                        </div>
                        <a style="padding:10px; margin:10px" class="add-to-cart-btn" asp-controller="Cart" asp-action="Add" asp-route-id="@Model.Id" >add to cart</a>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div id="product-tab">
                    <div class="tab-content">
                        <div id="tab1" class="tab-pane fade in active">
                            <div class="row">
                                <div class="col-md-12">
                                    <p>Manufacturer: @Model.Manufacturer</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div id="product-tab">
                    <ul class="tab-nav">
                        <li class="active"><a data-toggle="tab" href="#tab1">Tags</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="tab1" class="tab-pane fade in active">
                            <div class="row">
                                <div class="col-md-12">
                                    <p>@Model.Tags</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div id="product-tab">
                    <ul class="tab-nav">
                        <li class="active"><a data-toggle="tab" href="#tab1">Description</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="tab1" class="tab-pane fade in active">
                            <div class="row">
                                <div class="col-md-12">
                                    <p>@Model.Description</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>