@using EzBuy.ViewModels.Home
@using EzBuy.ViewModels.Cart
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor httpContextAccessor

@{
    ViewData["Title"] = "Home";
}

@model HomePageViewModel

@{
    var products = Model.Products;
    var categories = Model.Categories;
}

<div class="section">
    <div class="container">
        <div class="row">
            @foreach (var category in categories)
            {
                <div class="col-md-4 col-xs-6">
                    <div class="shop">
                        <div class="shop-img">
                            <img src="@category.Image" alt="">
                        </div>
                        <div class="shop-body">
                            <h3>@category.Name<br>Collection</h3>
                            <a href="#" class="cta-btn">Shop now <i class="fa fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h3 class="title">Top selling</h3>

                </div>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="products-tabs">
                        <div id="tab2" class="tab-pane fade in active">
                            <div class="products-slick" data-nav="#slick-nav-2">
                                @foreach (var product in @Model.Products)
                                {

                                    <div class="col-xs-4">
                                        <div class="product">
                                            <a onclick="location.href='@Url.Action("Single", "Products", new { productId = @product.Id})'">
                                                <div class="product-img">
                                                    <img class="card-img-top" src="@product.Cover" alt="Product image">
                                                </div>
                                            </a>
                                            <div class="product-body">
                                                <p class="product-category">@product.Category</p>
                                                <h3 class="product-name"><a href="#">@product.Name</a></h3>
                                                <h4 class="product-price">$@product.Price <del class="product-old-price">$@(product.Price + 39.99m)</del></h4>
                                            </div>
                                            <div class="add-to-cart">
                                                <a style="padding:10px; margin:10px" class="add-to-cart-btn" asp-controller="Cart" asp-action="Add" asp-route-id="@product.Id">Add to cart</a>
                                            </div>
                                        </div>
                                        <div class="product result">
                                            <div class="@product.Category">
                                            </div>
                                        </div>
                                    </div>
                                }


                            </div>
                            <div id="slick-nav-2" class="products-slick-nav"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>